:root {
    --article-font-family: lora, source-han-serif-sc, var(--base-font-family);
    --article-font-size: 1.6rem;
    --body-text-color: #7a7a7a;
    --body-background: #fafafa;
    --card-background: #fefefe;
    --code-background-color: #f1f3f4;
    --scrollbar-thumb: #eaeaeaea;
    .chroma {
        background-color: #f1f3f4;
    }

    .article-list--compact {
        .article-image {
            img {
                width: 100px;
                height: var(--image-size);
                object-fit: cover;
                border-radius: 8px;
            }
        }
    }

    a.link {
        box-shadow: none;
        color: var(--card-text-color)
    }
    a.link:hover {
        box-shadow: none;
        color: #b35c44;
    }
    a.link:after {
        position: relative;
        content: "\FEFF°";
        margin-left: 0.10em;
        top: -0.2em;
        color: #b35c44;
        font-feature-settings: 'caps' 1;
    }
    body {
        -webkit-font-smoothing: subpixel-antialiased;
    }
    code, kbd, samp {
        font-size: 1.4rem;
    }

    @media (min-width: 812px) {    
        .container.compact .left-sidebar {
            width: 20%;
        }
    }

    footer.site-footer {
        &:before {
            background: #7FC558;
            background: linear-gradient(90deg, #7FC558 0%, #7FC558 17%, #F7CC4F 17%, #F7CC4F 34%, #EB9D47 34%, #EB9D47 50%, #D5655F 50%, #D5655F 67%, #9846A0 67%, #9846A0 84%, #4DA5DF 84%, #4DA5DF 100%);
        }
    }

    &[data-scheme="dark"] {
        --body-background: #18181b;
        --card-background: #27272a;
        --blockquote-background-color: #2f2f30;
        --code-background-color: #1f2224;
        --pre-background-color: #1f2224;
        --scrollbar-thumb: #2e323550;
        .chroma {
            background-color: #1f2224;
        }
        footer.site-footer {
            &:before {
                background: #50A22E;
                background: linear-gradient(90deg, #50A22E 0%, #50A22E 17%, #EEA439 17%, #EEA439 34%, #E16028 34%, #E16028 50%, #C3291C 50%, #C3291C 67%, #4E0C55 67%, #4E0C55 84%, #2A62A8 84%, #2A62A8 100%);
            }
        }    
    }
}