:root {
    --article-font-family: lora, source-han-serif-sc, var(--base-font-family);
    --article-font-size: 1.6rem;
    --body-text-color: #7a7a7a;
    --body-background: #fafafa;
    --card-background: #fefefe;
    --code-background-color: #f1f3f4;
    --scrollbar-thumb: #eaeaeaea;
    .chroma {
        background-color: #f1f3f4;
    }

    .article-list--compact {
        .article-image {
            img {
                width: 100px;
                height: var(--image-size);
                object-fit: cover;
                border-radius: 8px;
            }
        }
    }

    a.link {
        box-shadow: none;
        color: var(--card-text-color)
    }
    a.link:hover {
        box-shadow: none;
        color: #b35c44;
    }
    a.link:after {
        position: relative;
        content: "\FEFF°";
        margin-left: 0.10em;
        top: -0.2em;
        color: #b35c44;
        font-feature-settings: 'caps' 1;
    }
    body {
        -webkit-font-smoothing: subpixel-antialiased;
    }
    code, kbd, samp {
        font-size: 1.4rem;
    }

    @media (min-width: 812px) {    
        .container.compact .left-sidebar {
            width: 20%;
        }
    }

    footer.site-footer {
        &:before {
            background: #e40303;
            background: linear-gradient(90deg, #e40303 0%, #e40303 17%, #ff8c00 17%, #ff8c00 34%, #ffed00 34%, #ffed00 50%, #008026 50%, #008026 67%, #004dff 67%, #004dff 84%, #750787 84%, #750787 100%);
        }
    }

    &[data-scheme="dark"] {
        --body-background: #18181b;
        --card-background: #27272a;
        --blockquote-background-color: #2f2f30;
        --code-background-color: #1f2224;
        --pre-background-color: #1f2224;
        --scrollbar-thumb: #2e323550;
        .chroma {
            background-color: #1f2224;
        }
        footer.site-footer {
            &:before {
                opacity: 0.8;
            }
        }    
    }
}